*,
html {
  padding: 0;
  margin: 0;
}

/* Main title bar style */

nav {
  background-color: #2f3944;
  padding: 1.5rem;
  display: flex;
}

#title {
  margin: auto;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
}